<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      <b>Welcome To Login</b>
    </h1>
    <div><img src="assets/lo.jpg" alt="Test Image" width="500" height="300" align="center" />
    </div>
  </div>
  
  <div>
    <p align="center"><label class="abc" for=FirstName><b>FirstName</b></label><input type="text" name="fname"><br>
  
      <label class="abc" for=LastName><b>LastName</b></label><input type="text" name="fname"><br>
      <label class="abc2" for=DOB><b>DOB</b></label><input type="number" name="fname"><br>
      <label class="abc" for=ContactNo><b>ContactNo</b></label> <input type="number" name="fname"><br>
    </p>
  
    <p align="center">
      <label class="abc9" for=Gender><b>Gender</b></label></p>
          <select name="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select><br>
      
 
   
   
    <br>
  
    <h2 align="center"><button class="googleButtonCls" target="_blank" rel="noopener"
        (click)="handleClick()">SUBMIT</button></h2>
  
    <a routerLink="/taketocustomer" routerLinkActive="active">Customer</a><br>
    <a routerLink="/taketoheroes" routerLinkActive="active">Heroes</a><br>
  
  </div>
  
  <!-- <div style="height: 200px; width: 500px; color: #ffffff; 
      background-image: url(assets/lo.jpg;)">
  </div>
   -->