
  .abc {
    color: brown;
    padding-right: 50px;
    line-height: 50px;
    
}

.abc2 {
    color: brown;
    padding-right: 87px;
    line-height: 50px;
}
.abc9 {
    color: brown;
    padding-right: 190px;
    line-height: 50px;
}
.vishal{
    color: brown;
    padding-right: 240px;
    line-height: 50px;

}
.abc10{
    color: brown;
    padding: 250px,500px;
}
.vishal123{
    position:relative;
    color: brown;
    width: 173px;
    height: 20px;
    text-align: center;  
    margin-left: 19px
   
}



   
