
  .abc {
    color: brown;
    padding-right: 50px;
    line-height: 50px;
    
}

.abc2 {
    color: brown;
    padding-right: 87px;
    line-height: 50px;
}
.abc9 {
    color: brown;
    padding-right: 240px;
    line-height: 50px;
}
.vishal{
    color: brown;
    padding-right: 240px;
    line-height: 50px;

}
.abc10{
    color: brown;
    padding: 250px,500px;
}

   
