.lab{
    color: brown;
    padding-right: 30px;
    line-height: 50px;

}
.link
{
    background-color: red;
    border:solid black;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoratio:to-upper-case($string: "register");
    display: inline-block;
    font-size: 16px;
    margin: 20px 15px;
    cursor: pointer;
}

   
