<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <!-- <h1>
    Welcome to {{ title }}!
  </h1>-->

  <h2>
   <b>Welcome To Login</b> 
  </h2>
  

  
  

</div>
<div>
  
    
  <p align="center"><label class="abc" for=FirstName><b>FirstName</b></label><input type="text" name="fname" ><br>
  

  
  <label class="abc" for=LastName><b>LastName</b></label><input type="text" name="fname" ><br>
   
  
  <label class="abc2" for=DOB><b>DOB</b></label><input type="number" name="fname" ><br>
   

  <label class="abc" for=ContactNo><b>ContactNo</b></label> <input type="number" name="fname"  ><br>
  </p>
  

<p align="center">
  <label class="abc9"for=Gender><b>Gender</b></label></p>
  <form action="">
   <p align="center"> <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other </p>
   
  </form>
  <br>
  

  

  <ul>
    <li>
      <h2 align="center"><button class="googleButtonCls" target="_blank" rel="noopener" (click)="handleClick()">SUBMIT</button></h2>
   
   
   
    </li>
    
  </ul>


  <a routerLink="/taketocustomer" routerLinkActive="active">Customer</a><br>
  <a routerLink="/taketoheroes" routerLinkActive="active">Heroes</a><br>



  
</div>


<router-outlet></router-outlet>
